python==3.9.18
numpy==1.23.5
pandas==1.5.2
matplotlib==3.6.2
pytorch==2.1.2
torchvision==0.16.2
cudatoolkit==11.0
ftfy==6.2.3
regex==2023.12.25
tqdm==4.65.0
pillow==7.2.0
scikit-learn==1.2.0
seaborn==0.12.2

